[submodule "nvim/plugins/nvim-lspconfig"]
	path = nvim/plugins/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/plugins/mini.diff"]
	path = nvim/plugins/mini.diff
	url = https://github.com/amgdev9/mini.diff
[submodule "nvim/plugins/nvim-tree.lua"]
	path = nvim/plugins/nvim-tree.lua
	url = https://github.com/amgdev9/nvim-tree.lua
[submodule "nvim/plugins/nvim-web-devicons"]
	path = nvim/plugins/nvim-web-devicons
	url = https://github.com/amgdev9/nvim-web-devicons
[submodule "nvim/plugins/nvim-lualine"]
	path = nvim/plugins/nvim-lualine
	url = https://github.com/amgdev9/lualine.nvim
[submodule "nvim/plugins/copilot.vim"]
	path = nvim/plugins/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "nvim/plugins/nvim-lsp-file-operations"]
	path = nvim/plugins/nvim-lsp-file-operations
	url = https://github.com/amgdev9/nvim-lsp-file-operations
[submodule "nvim/plugins/plenary.nvim"]
	path = nvim/plugins/plenary.nvim
	url = https://github.com/amgdev9/plenary.nvim
[submodule "nvim/plugins/arctic.nvim"]
	path = nvim/plugins/arctic.nvim
	url = https://github.com/amgdev9/arctic.nvim
[submodule "nvim/plugins/lush.nvim"]
	path = nvim/plugins/lush.nvim
	url = https://github.com/amgdev9/lush.nvim
[submodule "nvim/plugins/telescope.nvim"]
	path = nvim/plugins/telescope.nvim
	url = https://github.com/amgdev9/telescope.nvim
[submodule "tmux/dracula"]
	path = tmux/dracula
	url = https://github.com/amgdev9/tmux-dracula
[submodule "nvim-debugger/plugins/nvim-dap-ui"]
	path = nvim-debugger/plugins/nvim-dap-ui
	url = https://github.com/amgdev9/nvim-dap-ui
[submodule "nvim-debugger/plugins/nvim-dap"]
	path = nvim-debugger/plugins/nvim-dap
	url = https://github.com/amgdev9/nvim-dap
