[submodule "nvim-code/plugins/nvim-lspconfig"]
	path = nvim-code/plugins/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "tmux/dracula"]
	path = tmux/dracula
	url = https://github.com/amgdev9/tmux-dracula
[submodule "nvim-debugger/plugins/nvim-dap-ui"]
	path = nvim-debugger/plugins/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui
[submodule "nvim-debugger/plugins/nvim-dap"]
	path = nvim-debugger/plugins/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "nvim-debugger/plugins/nvim-nio"]
	path = nvim-debugger/plugins/nvim-nio
	url = https://github.com/nvim-neotest/nvim-nio
[submodule "nvim-code/plugins/windsurf.nvim"]
	path = nvim-code/plugins/windsurf.nvim
	url = https://github.com/Exafunction/windsurf.nvim
[submodule "nvim-code/plugins/conform.nvim"]
	path = nvim-code/plugins/conform.nvim
	url = https://github.com/stevearc/conform.nvim
[submodule "nvim-code/plugins/nvim-treesitter"]
	path = nvim-code/plugins/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim-code/plugins/nvim-cmp"]
	path = nvim-code/plugins/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "nvim-code/plugins/cmp-nvim-lsp"]
	path = nvim-code/plugins/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "nvim-code/plugins/nvim-lualine"]
	path = nvim-code/plugins/nvim-lualine
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "nvim-code/plugins/arctic.nvim"]
	path = nvim-code/plugins/arctic.nvim
	url = https://github.com/rockyzhang24/arctic.nvim
[submodule "nvim-code/plugins/lush.nvim"]
	path = nvim-code/plugins/lush.nvim
	url = https://github.com/rktjmp/lush.nvim
[submodule "nvim-code/plugins/mini.icons"]
	path = nvim-code/plugins/mini.icons
	url = https://github.com/nvim-mini/mini.icons
[submodule "nvim-code/plugins/mini.diff"]
	path = nvim-code/plugins/mini.diff
	url = https://github.com/nvim-mini/mini.diff
[submodule "nvim-code/plugins/plenary.nvim"]
	path = nvim-code/plugins/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim-code/plugins/telescope.nvim"]
	path = nvim-code/plugins/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "nvim-code/plugins/oil.nvim"]
	path = nvim-code/plugins/oil.nvim
	url = https://github.com/stevearc/oil.nvim
[submodule "nvim-code/plugins/harpoon"]
	path = nvim-code/plugins/harpoon
	url = https://github.com/ThePrimeagen/harpoon
