[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = andresmargar98@proton.me
	name = AMG
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
