* {
    font-family: Hack Nerd Font Mono;
	font-size: 10pt;
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
}

#workspaces,
#clock,
#network.wifi,
#network.ethernet,
#wireplumber,
#battery {
	background: #1a1a1a;
}

#workspaces button {
	color: #fdf6e3;
    padding: 0;
    padding-right: 2pt;
    padding-left: 2pt;
}
#workspaces button.focused {
	color: #268bd2;
}

#wireplumber {
	color: #268bd2;
}
#battery {
	color: #859900;
}

