* {
    font-family: Hack Nerd Font Mono;
	font-size: 14px;
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
}

#workspaces,
#clock,
#network.wifi,
#network.ethernet,
#pulseaudio,
#battery {
	background: #1a1a1a;
}

#workspaces button {
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}

#pulseaudio {
	color: #268bd2;
}
#battery {
	color: #859900;
}

